<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <title>Login/Registration</title>
    <meta name="description" content= "Insert description of webpage">
  </head>
  <body>
    <h2>Register</h2>
    {% if messages %}
      {% for message in messages%}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %} >
      {{ message }}
    </p>
      {% endfor %}
    {% endif %}
    <form action="/users/create" method="post">
    {% csrf_token %}
      <p>First Name:<input type="text" name="first_name"></p>
      <p>Last Name:<input type="text" name="last_name"></p>
      <p>Email:<input type="text" name="email"></p>
      <p>Password:<input type="text" name="password"></p>
      <p>Confirm Password:<input type="text" name="confirmpassword"></p>
      <p><input type="submit" value="Register"></p>
    </form>
    <p>
      <a href="/">Go Back</a>
    </p>
  </body>
</html>